/*
    _                   __ 
   (_)___  ____  __  __/ /_
  / / __ \/ __ \/ / / / __/
 / / / / / /_/ / /_/ / /_  
/_/_/ /_/ .___/\__,_/\__/  
       /_/                 
*/

input {
    keyboard {
        track-layout "global"
        repeat-delay 350
        repeat-rate 30
        xkb {
            layout "us,ru"
            options "grp:caps_toggle,grp_led:caps"
        }
    }

    touchpad {
        tap
	natural-scroll
    }

    mouse {
        accel-speed 0.1
        accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="10%"
}

/*
               __              __ 
  ____  __  __/ /_____  __  __/ /_
 / __ \/ / / / __/ __ \/ / / / __/
/ /_/ / /_/ / /_/ /_/ / /_/ / /_  
\____/\__,_/\__/ .___/\__,_/\__/  
              /_/                 
*/

output "eDP-1" {
    scale 1.75
    position x=0 y=0
}

output "HDMI-A-1" {
    scale 1
    mode "1920x1080@143.999"
}

/*
    __                        __ 
   / /___ ___  ______  __  __/ /_
  / / __ `/ / / / __ \/ / / / __/
 / / /_/ / /_/ / /_/ / /_/ / /_  
/_/\__,_/\__, /\____/\__,_/\__/  
        /____/                   
*/

layout {
    empty-workspace-above-first

    background-color "transparent"

    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.2
	    proportion 0.33333
        proportion 0.5
        proportion 0.66667
	    proportion 0.8
    }

    default-column-width {}
    
    focus-ring {
        width 4
        active-color "#8cf6d4"
        inactive-color "#111716"
    }

    border {
        off
    }

    struts {
        // left 16
        // right 16
        // top 0
        // bottom 8
    }

    shadow {
        on
        softness 12
        spread 4
        offset x=0 y=0
        draw-behind-window true
        color "#8bf6d4ce"
        inactive-color "#171e19ce"
    }

    tab-indicator {
        // off
        hide-when-single-tab
        place-within-column
        gap 8
        width 8
        length total-proportion=0.67
        position "top"
        gaps-between-tabs 4
        corner-radius 8
        active-color "#8bf6d4"
        inactive-color "#171e19ce"
    }

    insert-hint {
    	on
	color "#8bf6d480"
    }
}

prefer-no-csd

overview {
    zoom 0.5
    workspace-shadow {
    	off
    }
}

recent-windows {
    open-delay-ms 150

    highlight {
        corner-radius 14
        active-color "#8bf6d4"
    }
}

/*
         __             __            
   _____/ /_____ ______/ /___  ______ 
  / ___/ __/ __ `/ ___/ __/ / / / __ \
 (__  ) /_/ /_/ / /  / /_/ /_/ / /_/ /
/____/\__/\__,_/_/   \__/\__,_/ .___/ 
                             /_/      
*/

// Utils
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-sh-at-startup "lrcsnc -s -p unix -l /tmp/lrcsnc.sock"

// Visuals
spawn-sh-at-startup "eww -c ~/.config/eww/bar open bar && eww -c ~/.config/eww/piw open player-image-window && eww -c ~/.config/eww/lrcsnc open-many lrcsnc lrcsnc-title-window lrcsnc-artist-window"
spawn-at-startup "swww-daemon"

// Essentials that have .desktop files are handled through XDG autostart (.config/autostart)
//   so they are here no more.

/*
               _                 __  _
  ____ _____  (_)___ ___  ____ _/ /_(_)___  ____  _____
 / __ `/ __ \/ / __ `__ \/ __ `/ __/ / __ \/ __ \/ ___/
/ /_/ / / / / / / / / / / /_/ / /_/ / /_/ / / / (__  )
\__,_/_/ /_/_/_/ /_/ /_/\__,_/\__/_/\____/_/ /_/____/
*/

animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0

    window-close {
        duration-ms 200
        curve "linear"

        custom-shader r"
            // Example: make the window 'fall down' with slight rotation.
            vec4 close_color(vec3 coords_geo, vec3 size_geo) {
                // For this shader, set animation curve to linear for best results.

                // Simulate an accelerated fall: square the (linear) progress.
                float progress = niri_clamped_progress * niri_clamped_progress;

                // Get our rotation pivot point coordinates at the bottom center of the window.
                vec2 coords = (coords_geo.xy - vec2(0.5, 1.0)) * size_geo.xy;

                // Move the window down to simulate a fall.
                coords.y -= progress * 200.0;

                // Randomize rotation direction and maximum angle.
                float random = (niri_random_seed - 0.5) / 2.0;
                random = sign(random) - random;
                float max_angle = 0.05 * random;

                // Rotate the window around our pivot point.
                float angle = progress * max_angle;
                mat2 rotate = mat2(cos(angle), -sin(angle), sin(angle), cos(angle));
                coords = rotate * coords;

                // Transform the coordinates back.
                coords_geo = vec3(coords / size_geo.xy + vec2(0.5, 1.0), 1.0);

                // Sample the window texture.
                vec3 coords_tex = niri_geo_to_tex * coords_geo;
                vec4 color = texture2D(niri_tex, coords_tex.st);

                // Multiply by alpha to fade out.
                return color * (1.0 - niri_clamped_progress);
            }
        "
    }
}

/*
               __
   _______  __/ /__  _____
  / ___/ / / / / _ \/ ___/
 / /  / /_/ / /  __(__  )
/_/   \__,_/_/\___/____/
*/

layer-rule {
    match namespace=r#"^swww-daemon$"#
    place-within-backdrop true
}

layer-rule {
    match namespace=r#"^eww-piw-background$"#
    shadow {
        on
        softness 16
        spread 4
        color "#000603ce"
    }
}

window-rule {
    match app-id="io.github.kukuruzka165.materialgram"
    match app-id="Band"

    block-out-from "screencast"
}

window-rule {
    min-width 420

    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match is-floating=true
    min-width 200
    baba-is-float true
}

window-rule {
    match is-focused=false
    shadow {
        softness 16
        spread 2
    }
}

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id="alacritty"
    match app-id="kitty"
    match app-id="ghostty"
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id="org.gnome.Characters"
    default-column-width { proportion 0.4; }
}

window-rule {
    match app-id="zen"
    default-column-width { proportion 0.8; }
    //open-on-output "eDP-1"
    open-maximized true
    draw-border-with-background true    
}

window-rule {
    match app-id="zen" title="^Picture-in-Picture$"
    open-floating true
    open-focused false
    default-column-width { fixed 480; }
    default-window-height { fixed 270; }
    default-floating-position x=80 y=80 relative-to="top-right"
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts"#
    default-floating-position x=0 y=0 relative-to="bottom-right"
    open-focused false
    baba-is-float false
}

window-rule {
    match app-id="steam_app_0"
    open-floating false
}

window-rule {
    match app-id="io.github.kukuruzka165.materialgram"
    match app-id="com.ayugram.desktop"
    default-column-width { proportion 0.66; }
    open-on-output "eDP-1"
}

window-rule {
    match app-id="code"
    default-column-width { fixed 920; }
    open-maximized true
}

window-rule {
    match app-id="org.gnome.Nautilus"
    default-column-width { proportion 0.75; }
}

window-rule {
    match title="Friends List" app-id="steam"
    default-column-width { fixed 340; }
}

window-rule {
    match app-id="Waydroid"
    default-column-width { proportion 0.999; }
    open-maximized true
}

/*
    __    _           __
   / /_  (_)___  ____/ /____
  / __ \/ / __ \/ __  / ___/
 / /_/ / / / / / /_/ (__  )
/_.___/_/_/ /_/\__,_/____/
*/

binds {
    Mod+Escape { toggle-overview; }
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T { spawn "fish" "-c" "kitty"; }
    Mod+D { spawn "tofi-drun"; }
    Mod+Shift+D { spawn-sh "fish -c $(tofi-run)"; } // quite a workaround, but works
    Mod+L { spawn "endlock"; }
    //Mod+Shift+C { spawn "fish" "-c" "notify-send -a 'Hyprpicker' -t 10000 'Copied color:' $(hyprpicker -a -n)"; }
    Mod+V { spawn "fish" "-c" "cliphist list | tofi --fuzzy-match=true --prompt-text='the memories' --placeholder-text='that you seek' | cliphist decode | wl-copy"; }

    Mod+Tab { focus-workspace-previous; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    Mod+F6 allow-when-locked=true { spawn-sh "playerctl -i firefox next"; }
    Mod+F5 allow-when-locked=true { spawn-sh "playerctl -i firefox previous"; }
    Mod+F4 allow-when-locked=true { spawn-sh "playerctl -i firefox play-pause"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl -i firefox next"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl -i firefox previous"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl -i firefox play-pause"; }
    XF86MonBrightnessUp  allow-when-locked=true { spawn-sh "brightnessctl s -n 5%+"; }
    XF86MonBrightnessDown  allow-when-locked=true { spawn-sh "brightnessctl s -n 5%-"; }
    
    Mod+Shift+Q { spawn "fish" "-c" "powertofi"; }
    Mod+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Page_Down  { focus-window-down; }
    Mod+Page_Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    // Mod+H     { focus-column-left; }
    // Mod+J     { focus-window-down; }
    // Mod+K     { focus-window-up; }
    // Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Alt+Left { swap-window-left; }
    Mod+Ctrl+Page_Down  { move-window-down; }
    Mod+Ctrl+Page_Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Alt+Right { swap-window-right; }
    // Mod+Ctrl+H     { move-column-left; }
    // Mod+Ctrl+J     { move-window-down; }
    // Mod+Ctrl+K     { move-window-up; }
    // Mod+Ctrl+L     { move-column-right; }

    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Page_Down  { focus-monitor-down; }
    Mod+Shift+Page_Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    // Mod+Shift+H     { focus-monitor-left; }
    // Mod+Shift+J     { focus-monitor-down; }
    // Mod+Shift+K     { focus-monitor-up; }
    // Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    // Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Down      { focus-workspace-down; }
    Mod+Up        { focus-workspace-up; }
    // disable in case you need this button
    MouseBack repeat=false { toggle-overview; }
    // Mod+U              { focus-workspace-down; }
    // Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Down { move-column-to-workspace-down; }
    Mod+Ctrl+Up   { move-column-to-workspace-up; }
    // Mod+Ctrl+U         { move-column-to-workspace-down; }
    // Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Down { move-workspace-down; }
    Mod+Shift+Up   { move-workspace-up; }
    // Mod+Shift+U         { move-workspace-down; }
    // Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    // Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Return { maximize-column; }
    Mod+Shift+Return { fullscreen-window; }
    Mod+Ctrl+Return { maximize-window-to-edges; }
    Mod+Shift+Ctrl+Return { expand-column-to-available-width; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+W { toggle-column-tabbed-display; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+F       { toggle-window-floating; }
    Mod+Shift+F { switch-focus-between-floating-and-tiling; }

    Print { screenshot; }
    Mod+Shift+S { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+R { spawn "fish" "-c" "wf-recorder -f ~/Videos/Screenrecs/screenrec-$(math 1 + $(ls ~/Videos/Screenrecs/ | count)).mp4 -r30 -g $(slurp -d -F \"FiraCode Nerd Font Propo\" -c \"#8bf6d4\") --audio=easyeffects_sink.monitor || notify-send \"Failed to start wf-recorder\""; }
    Mod+Shift+Ctrl+R { spawn "fish" "-c" "killall -INT wf-recorder && notify-send \"wf-recorder\" \"Finished recording.\""; }

    Mod+Shift+E { quit; }
    Mod+Shift+P { power-off-monitors; }
}

/*
             __            
  ___  _  __/ /__________ _
 / _ \| |/_/ __/ ___/ __ `/
/  __/>  </ /_/ /  / /_/ / 
\___/_/|_|\__/_/   \__,_/  
*/

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
    MOZ_ENABLE_WAYLAND "1"
    QT_QPA_PLATFORMTHEME "qt5ct:qt6ct"
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

clipboard {
    disable-primary
}

cursor {
    hide-after-inactive-ms 1500
}

hotkey-overlay {
    skip-at-startup
}
